.container {
  width: fit-content;
  text-align: center;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.reset-game {
  margin-bottom: 10px;
}

.turn {
  display: flex;
  justify-content: center;
  margin: 15px;
}